<div *ngIf="cartItems.length > 0; else emptyCart">
    <hr>
    <div *ngFor="let cartItem of cartItems">
        <app-cart-item
            (removeCartItemEvent)="removeFromCart(cartItem.product.name)"
            (decreaseQuantity)="decreaseQuantity(cartItem.product.name)"
            (increaseQuantity)="increaseQuantity(cartItem.product.name)"
            [cartItem]="cartItem"></app-cart-item>
        <hr>
    </div>
    <div class="cart-total">
        <p>Quantity: {{this.cartService.getTotalQuantity()}}</p>
        <p>Total cost: {{this.cartService.getTotalCost()}}</p>
    </div>
    <hr>
</div>
<ng-template #emptyCart>
    <div class="empty-cart">
        <p>The cart is empty</p>
        <p>Please, add some products</p>
    </div>
</ng-template>