<div class="form-group">
    <p>Sort field</p>
    <select (change)="onSortOptionChanged(sortOptionsSelect.value)" #sortOptionsSelect>
        <option *ngFor="let sortOption of sortOptions">{{ sortOption }}</option>
    </select>
    <p>Ascending</p>
    &nbsp;
    <input type="checkbox" (change)="onAscendingCheckboxChanged(ascendingCheckbox.checked)" #ascendingCheckbox>
</div>
<!-- HACK: Replace this ngIf condition by cartService.isEmptyCart -->
<div *ngIf="cartItems.length > 0; else emptyCart">
    <hr>
    <div *ngFor="let cartItem of (cartItems | orderBy : currentSortOption : currentIsAscending)">
        <app-cart-item
            (removeCartItemEvent)="removeFromCart(cartItem.product.name)"
            (decreaseQuantity)="decreaseQuantity(cartItem.product.name)"
            (increaseQuantity)="increaseQuantity(cartItem.product.name)"
            [cartItem]="cartItem"></app-cart-item>
        <hr>
    </div>
    <div class="cart-total">
        <p>Quantity: {{this.cartService.totalQuantity}}</p>
        <p>Total cost: {{this.cartService.totalCost}}</p>
    </div>
    <hr>
</div>
<ng-template #emptyCart>
    <div class="empty-cart">
        <p>The cart is empty</p>
        <p>Please, add some products</p>
    </div>
</ng-template>