<div *ngIf="products.length > 0; else emptyCart">
    <hr>
    <div *ngFor="let product of products">
        <app-cart-item (removeCartItemEvent)="removeFromCart(product.name)" [product]="product"></app-cart-item>
        <hr>
    </div>
    <div class="cart-total">
        <p>Quantity: {{this.cartService.getTotalQuantity()}}</p>
        <p>Total cost: {{this.cartService.getTotalCost()}}</p>
    </div>
    <hr>
</div>
<ng-template #emptyCart>
    <div class="empty-cart">
        <p>The cart is empty</p>
        <p>Please, add some products</p>
    </div>
</ng-template>